        html,
        body {
            width: 100%;
            height: 100%;
            font-family: "PingFangSC";
        }
        
        a {
            text-decoration: none;
        }
        
        * {
            padding: 0;
            margin: 0;
        }
        
        .icon {
            width: 2.1.333rem;
        }
        
        .row {
            display: flex;
        }
        
        .col {
            flex: 1;
        }
        
        div {
            width: 1rem;
            height: 0.4rem;
            /*font-size: 12px;*/
        }
        
        /*[data-dpr="2"] div {
            font-size: 24px;
        }
        
        [data-dpr="3"] div {
            font-size: 36px;
        }*/
        
        .container {
            width: 100%;
            position: relative;
        }
        
        .header {
            display: flex;
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            right: 0;
            background: #fff;
            color: #000;
            height: 1.333rem;
            line-height: 1.333rem;
            font-size: 2rem;
        }


        .navbar {
            display: flex;
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            right: 0;
            background: #fff;
            color: #000;
            height: 1.333rem;
            line-height: 1.333rem;
            font-size: 18px;
        }
        
        [data-dpr="2"] .navbar {
            font-size: 36px;
        }
        
        [data-dpr="3"] .navbar {
            font-size: 54px;
        }

        .navbar-back {
            display: flex;
            width: 1.333rem;
            justify-content: center;
            align-items: center;
        }
        
        .navbar-back-icon {
            height: 0.426rem;
            width: auto;
        }
        
        .navbar-title {
            flex: 1;
            text-align: center;
        }
        
        .navbar-tool {
            display: flex;
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            right: 0;
            background: #fff;
            color: #000;
            height: 1.333rem;
            text-align: center;
            line-height: 1.333rem;
            font-size: 2rem;
        }
        
        .main {
            position: fixed;
            top: 1.333rem;
            bottom: 1.333rem;
            left: 0;
            right: 0;
            /*padding-bottom: 1.333rem;*/
        }
        
        .tabbar {
            display: flex;
            position: fixed;
            z-index: 9999;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            height: 1.333rem;
            align-items: center;
        }
        
        .tabbar::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 1.333rem;
            border-top: 1px solid rgba(0, 0, 0, 0.3);
        }

        

        .tabbar-item {
            flex: 1;
            text-align: center;
            /*font-size: 12px;*/
            color: rgb(102, 102, 102);
        }
        
        /*[data-dpr="2"] .tabbar-item {
            font-size: 24px;
        }
        
        [data-dpr="3"] .tabbar-item {
            font-size: 36px;
        }*/

        .tabbar-item-img {
            width: 0.64rem;
        }
        
        .tabbar-item-on {
            color: rgb(115, 214, 210);
        }
        
        .box {
            width: 100%;
            height: 100px;
        }
        
        #wrapper {
            width: 100%;
            overflow: hidden;
            height: 100%;
        }
        
        #scroller {
            position: absolute;
            z-index: 1;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            width: 100%;
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-text-size-adjust: none;
            -moz-text-size-adjust: none;
            -ms-text-size-adjust: none;
            -o-text-size-adjust: none;
            text-size-adjust: none;
        }