.tabs-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.tab-head {
	display: flex;
	height: 1.333rem;
	width: 100%;
	font-size: 32px;
}

.tab-head-item {
	flex: 1;
	text-align: center;
	height: 100%;
	line-height: 1.333rem;
}

.g {
	width: 100%;
}

.pspan {
	display: block;
	width: 33.3%;
	border: 1px solid cornflowerblue;
}

.tab-content {
	z-index: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
