<tabs (change)="change($event)">
    <tab-head >
        <tab-item class="tab-head-item">
            tab1
        </tab-item>
        <tab-item class="tab-head-item">
            tab2
        </tab-item>
        <tab-item class="tab-head-item">
           tab3
        </tab-item>
    </tab-head>
    <div style="color:red"></div>
    <tab-body>
        <tab-item class="tab-item">
            1
            <another-component></another-component>
        </tab-item>
        <tab-item class="tab-item">
            2
        </tab-item>
        <tab-item class="tab-item">
            3
        </tab-item>
    </tab-body>
</tabs>