.tab-content-item:host {
	z-index: 1;
	flex-shrink: 0;
	position: relative;
	width: 100%;
	height: 100%;
}

.one:host{
	background: #fff;
}

.two:host{
	background: steelblue;
}

.three:host{
	background: green;
}

.content :host {
	width: 100%;
	height: 100%;
}